@model Trial.Core.Models.Page.PageItem
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>


    @{
        if (Model.Contents != null)
        {
            foreach (var item in Model.Contents)
            {
                if (item.CategoryId == Model.Category.Id)
                {
                    <div class="wrapper bgded overlay" style="background-image:url('Images/demo/backgrounds/02.png');">
                        <section class="hoc container clear">
                            <div class="sectiontitle">
                                <h6 class="heading">@item.Title</h6>
                            </div>
                            <div class="group">
                                <div class="one_half first">
                                    @Html.Raw(item.Body)
                                    <footer><a class="btn" href="@Request.Url.ToString()@item.Url/">Read More »</a></footer>
                                </div>
                            </div>
                        </section>
                    </div>
                }
            }
        }
    }

</body>