@model Trial.Core.Models.Category.CategoryPageItem
@{
    ViewBag.Title = Trial.Core.Strings.Categories;
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}
<link href="~/Content/nestable.css" rel="stylesheet" />
<script src="~/Scripts/jquery.nestable.js"></script>
<script>
    var sortUrl = '@Url.Action("Sort","Category")';
</script>
<script src="~/Scripts/AppCategory.js"></script>

<section class="section-body">
    <div class="card">
        <div class="card-head">
            <header>
                @Trial.Core.Strings.Categories
            </header>
        </div>
        <div class="card-body">
            <div class="dd jsCategories">
                @Html.Raw(Model.CategoryHtml)
            </div>
        </div>
    </div>
</section>
